; PymEngine
; Archivo de configuración inicial
;
; This file is part of PymEngine.
; PymEngine is free software: you can redistribute it and/or modify
; it under the terms of the GNU General Public License as published by
; the Free Software Foundation, either version 3 of the License, or
; (at your option) any later version.
; PymEngine is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU General Public License for more details.
; You should have received a copy of the GNU General Public License
; along with PymEngine.  If not, see <http://www.gnu.org/licenses/>.
;
;
; @package    PymEngine
; @license    http://www.gnu.org/licenses/gpl.txt  GNU GPL 3.0
; @author     LinK <contacto@pymeweb.mx>
; @link       https://pymeweb.mx
; @version    4.0
;
; COPIAR ESTE ARCHIVO COMO config.ini
; MODIFICAR EL VALOR DE LAS VARIABLES QUE CORRESPONDAN


[DATABASE]
DB_DRIVER = mysql    ; driver de base de datos soportado por PDO
DB_HOST = localhost  ; host o IP del servidor de base de datos
DB_USER = root       ; usuario MySQL
DB_PASS = secret     ; contraseña
DB_NAME = europio    ; nombre de la base de datos de la app
DB_CHARSET = utf8    ; juego de caracteres aplicable a la base de datos


[PATHS]
SERVER_URI = http://${SERVER_NAME}          ; hostname incluyendo protocolo
APP_DIR = ${DOCUMENT_ROOT}/                 ; ruta física de la app
STATIC_DIR = ${DOCUMENT_ROOT}/site_media/   ; ruta física para archivos estáticos
WRITABLE_DIR =                              ; directorio con permisos de escritura
WEB_DIR = ${PWD}                            ; ruta relativa del directorio Web


[APPLICATION]
PRODUCTION = false                 ; en producción establecer en true
USE_PCRE = false                   ; para evitar el uso de preg_match establecer en false
API_ENABLED = false                ; true para habilitar la API, false para deshabilitar
DEFAULT_VIEW = /  ; ruta Web relativa de la vista por defecto
AUTOLOAD_MODULE = true             ; carga automática de módulos mediante el archivo __init__.php
SETUP = false


[GUI]
CUSTOM_TEMPLATE =        ; ruta física del template HTML (nulo para el template por defecto)
CUSTOM_LOGIN_TEMPLATE =  ; ruta física del login HTML (nulo para el template por defecto)


[ERROR PAGES]
HTTP_ERROR_403 =      ; ruta física absoluta del archivo HTML para error 403
HTTP_ERROR_403_API =  ; ruta física absoluta del archivo HTML para error API no habilitada
HTTP_ERROR_404 =      ; ruta física absoluta del archivo HTML para error 404
HTTP_ERROR_EE1001 =   ; ruta física absoluta del archivo HTML para error EE1001 (debug en producción)


[TEMPLATE]
APP_NAME = '<i class="fa fa-cog"></i> <b>Pymeweb</b> engine' ; nombre/marca comercial de la aplicación
DEFAULT_TITLE = "Sitio Web"                        ; título por defecto
COPYRIGHT_TXT = "©2022 Pymeweb"            ; leyenda de copyrigth en el pie del template


[SESSIONS]
SESSION_LIFE_TIME = 1200      ; tiempo máximo de inactividad (en segundos)
SESSION_STRICT_LEVEL = false  ; false para utilizar privilegios escalados


[SECURITY LAYER]
SECURITY_LAYER_ENGINE = 'On'          ; off para desactivar la capa de seguridad
SECURITY_LAYER_STRICT_MODE = false    ; true para filtrar formularios con htmlentities y strip_tags
SECURITY_LAYER_SANITIZE_ARRAY = true  ; true para convertir a enteros los campos de selección múltiple
SECURITY_LAYER_ENCRYPT_PASSWORD = true    ; false para no encriptar campos de contraseña ni filtrarlos
SECURITY_LAYER_ENCRYPT_PASSWORD_HASH = md5 ; Algoritmo de cifrado a utilizar solo si ENCRYPT_PASSWORD es true
SECURITY_TRACK = true ; Para habilitar codigos de trackeo como UTM


[PLUGINS]
collectortable = true ; common/plugins/collectortable
collectorviewer = false ; common/plugins/collectorviewver
securitylayer = true   ; common/plugins/securitylayer
guigenerator = true    ; common/plugins/guigenerator (sustituye a WebForm por WebFormPRO)
webform = false        ; common/plugins/webform (obsoleto)


[COLLECTORVIEWER]
; JSON de textos en el idioma deseado (por defecto: español)
; Los CDN de los diversos idiomas pueden obtenerse en
; http://datatables.net/plug-ins/i18n/#Translations
CVW_LANG = '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Spanish.json'


[EXPERIMENTALES]
; se recomienda activar estas funcionalidades solo para hackers y programadores
; ampliamente experimentados. caso contrario, dejar desactivadas.
ENABLE_CLASS2FUNC = false
