//@import 'auto-prefix';
$flex-prefixes: webkit-box moz-box webkit moz ms !default;

@mixin flexbox() {
  @if (in_list(ms,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,ms-flex)
  }
  @if (in_list(moz,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,moz-box)
  }
  @include prefix-attribute(display,flex,$flex-prefixes);
}
@mixin inline-flex() {
  @if (in_list(ms,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,ms-flex)
  }
  @if (in_list(moz,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,moz-box)
  }
  @include prefix-attribute(display,inline-flex,$flex-prefixes);
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  @include prefix-attribute(flex,$values,$flex-prefixes);
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  @include prefix-attribute(flex-direction,$direction,$flex-prefixes);
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  @include prefix-attribute(flex-wrap,$wrap,$flex-prefixes);
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  @include prefix-attribute(flex-flow,$flow,$flex-prefixes);
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  @if (in_list(ms,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,ms-flex)
  }
  @if (in_list(moz,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,moz-box)
  }
  @include prefix-attribute(ordinal-group,$val);
  @include prefix-attribute(order,$val);
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  @include prefix-attribute(flex-grow,$grow,$flex-prefixes);
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  @include prefix-attribute(flex-shrink,$shrink,$flex-prefixes);
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  @include prefix-attribute(flex-basis,$width,$flex-prefixes);
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  @if (in_list(ms,$flex-prefixes)){
    $flex-prefixes: append($flex-prefixes,ms-flex-pack)
  }
  @include prefix-attribute(justify-content,$justify,$flex-prefixes);
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  @include prefix-attribute(align-content,$align,$flex-prefixes);
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  @include prefix-attribute(align-items,$align,$flex-prefixes);
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  @include prefix-attribute(align-self,$align,$flex-prefixes);
}
