$font_weight: true;
$text_justify_utilities: true;
$gobal_lineheigt:1.25;
$fw_steps:9;


$font-families: (
  'default': "Assistant, sans-serif",
  'Assistant': "Assistant, sans-serif",
  'Dancing Script': "Dancing Script, cursive",
);


$icon-chekbox:'⭵' !default;
$icon-chekbox-checked:'⮽' !default;
$icon-check-mark: '✓' !default;
$icon-chevron-right: '›' !default;
$icon-arrow-left: '←' !default;
$icon-quote: '\201C' !default;