<main id="main_body" class="main--grow c__white d--flex flex__direction--column">
  <section class="bg__grad--dark-blue py--8 px--5 flex__grow--1">
    <div class="container wrapper__content text--center">
      <h1 class="h2 fw--900 mb--7">ES EL FIN</h1>

      <p class="h3">¡Gracias por tu participación!</p>
      <p class="fs--large fw--bold">TU TIEMPO: {TIMEPO}</p>
      <p class="fs--large fw--bold">PREGUNTAS CORRECTAS: {CORRECTAS}</p>

      <p class="mt--8">
        <a href="/" class="btn__cta fw--900">Salir</a>
      </p>
    </div>
  </section>
</main>