<main id="main_body" class="main--grow c__white d--flex flex__direction--column">
  <header class="master-head row text--center">
    <div class="header__threads w--100"></div>
  </header>
  <section class="bg__grad--dark-blue pt--5 pt--lg--8 pb--8 px--5 flex__grow--1">
    <div class="container wrapper__content text--center">
      <h1 class="h2 fw--900 mb--7">INSTRUCCIONES</h1>

      <p class="fs--large">1. Lee atentamente cada pregunta.</p>
      <p class="fs--large">2. Selecciona la respuesta correcta lo más rápido que puedas.</p>
      <p class="fs--large">3. Si eres la persona que conteste más rápido y de forma correcta la trivia podrás ganar.</p>

      <p>⚠️ Una vez iniciada la trivia, no cierres ni actualices la ventana de tu navegador o se perderá tu participación.</p>
      <p class="mt--8">
        <a href="/trivia/juego" class="btn__cta fw--900">INICIAR TRIVIA</a>
      </p>
    </div>
  </section>
</main>