<!doctype html>
<html lang="es">
  <head>
    {ROBOTS}
    <title>{TITLE}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    {GOOGLE_ANALYTICS}
    {GOOGLE_TM_HEAD}
    <link rel="stylesheet" href="{SITE_ASSETS}/css/site.bundle.css" />
    {HEAD_IMPORTS}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="{SITE_ASSETS}/js/jquery-3.7.1.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var conf = {}
      var triggers = {}
      const jquery = $;
    </script>
  </head>
  <body class="c__white bg__grad--black--tundora">

  {CONTENIDO}

  <footer id="main_footer" class="bg__black py--5 px--5">
    <p>{COPYRIGHT_TXT}</p>
  </footer>
  <script src="{SITE_ASSETS}/js/site.bundle.js" charset="utf-8"></script>
  {FOOTER_IMPORTS}
  </body>
</html>