$position_utilities: false !default;
$uytility-breakpoints: (
  md,
  lg,
) !default;
// utitlities
@if $position_utilities {
  .p-relative{
    @extend %position-relative;
  }
  .p-absolute{
    @extend %position-absolute;
  }
  .p-fixed{
    @extend %position-fixed;
  }
  .p-sticky{
    @extend %position-sticky;
  }
  @each $breakpoint-name, $breakpoint-value in $breakpoints{
    @if ( $breakpoint-value != 0){
      @include media-breakpoint-up($breakpoint-name){
        .p-#{$breakpoint-name}-relative{
          @extend %position-relative-#{$breakpoint-name};
        }
        .p-#{$breakpoint-name}-absolute{
          @extend %position-absolute-#{$breakpoint-name};
        }
        .p-#{$breakpoint-name}-fixed{
          @extend %position-fixed-#{$breakpoint-name};
        }
        .p-#{$breakpoint-name}-stiky{
          @extend %position-sticky-#{$breakpoint-name};
        }
      }
    }
  }
}

$display_utilities: false !default;
@if $display_utilities{
  .d-block{
    @extend %display-block;
  }
  .d-none{
    @extend %display-none;
  }
  .d-inline{
    @extend %display-inline;
  }
  .d-inline-block{
    @extend %display-inline-block;
  }
  .d-gird{
    @extend %display-grid;
  }
  .d-flex{
    @extend %display-flex;
  }
  @each $breakpoint-name, $breakpoint-value in $breakpoints{
    @if ( $breakpoint-value != 0){
      @include media-breakpoint-up($breakpoint-name){
        .d-#{$breakpoint-name}-block{
          @extend %display-block-#{$breakpoint-name};
        }
        .d-#{$breakpoint-name}-none{
          @extend %display-none-#{$breakpoint-name};
        }
        .d-#{$breakpoint-name}-inline{
          @extend %display-inline-#{$breakpoint-name};
        }
        .d-#{$breakpoint-name}-inline-block{
          @extend %display-inline-block-#{$breakpoint-name};
        }
        .d-#{$breakpoint-name}-gird{
          @extend %display-grid-#{$breakpoint-name};
        }
        .d-#{$breakpoint-name}-flex{
          @extend %display-flex-#{$breakpoint-name};
        }
      }
    }
  }
}

$flex_utilities: false !default;
@if $flex_utilities {
  .justify-center{
    @extend %justify-center;
  }
  .justify-between{
    @extend %justify-between;
  }
  .justify-around{
    @extend %justify-around;
  }
  .justify-end{
    @extend %justify-end;
  }
  .justify-start{
    @extend %justify-start;
  }
  .align-center{
    @extend %align-center;
  }
  .align-end{
    @extend %align-end;
  }
  .align-start{
    @extend %align-start;
  }
  .align-stretch{
    @extend %align-stretch;
  }
  .flex-column{
    @extend %flex-column;
  }
  .flex-row{
    @extend %flex-row;
  }
  .flex-wrap{
    @extend %flex-wrap;
  }
  .flex-nowrap{
    @extend %flex-no-wrap;
  }
  @each $breakpoint-name, $breakpoint-value in $breakpoints{
    @if ( $breakpoint-value != 0){
      @include media-breakpoint-up($breakpoint-name){
        .justify-#{$breakpoint-name}-center{
          @extend %justify-center-#{$breakpoint-name};
        }
        .justify-#{$breakpoint-name}-between{
          @extend %justify-between-#{$breakpoint-name};
        }
        .justify-#{$breakpoint-name}-around{
          @extend %justify-around-#{$breakpoint-name};
        }
        .justify-#{$breakpoint-name}-end{
          @extend %justify-end-#{$breakpoint-name};
        }
        .justify-#{$breakpoint-name}-start{
          @extend %justify-start-#{$breakpoint-name};
        }
        .align-#{$breakpoint-name}-center{
          @extend %align-center-#{$breakpoint-name};
        }
        .align-#{$breakpoint-name}-end{
          @extend %align-end-#{$breakpoint-name};
        }
        .align-#{$breakpoint-name}-start{
          @extend %align-start-#{$breakpoint-name};
        }
        .align-#{$breakpoint-name}-stretch{
          @extend %align-stretch-#{$breakpoint-name};
        }
        .flex-#{$breakpoint-name}-column{
          @extend %flex-column-#{$breakpoint-name};
        }
        .flex-#{$breakpoint-name}-row{
          @extend %flex-row-#{$breakpoint-name};
        }
        .flex-#{$breakpoint-name}-wrap{
          @extend %flex-wrap-#{$breakpoint-name};
        }
        .flex-#{$breakpoint-name}-nowrap{
          @extend %flex-no-wrap-#{$breakpoint-name};
        }
      }
    }
  }
}

$width_utilities: false !default;
@if $width_utilities{
  @for $i from 1 through 10 {
    .w-#{10 * $i}{
      @extend %width-#{10 * $i};
    }
    .mw-#{10 * $i}{
      @extend %max-width-#{10 * $i};
    }
    .h-#{10 * $i}{
      @extend %height-#{10 * $i};
    }
    .mh-#{10 * $i}{
      @extend %max-height-#{10 * $i};
    }
  }

  @each $breakpoint-name, $breakpoint-value in $breakpoints{
    @if ( $breakpoint-value != 0){
      @include media-breakpoint-up($breakpoint-name){
        @for $i from 1 through 10{
          .w-#{10 * $i}-#{$breakpoint-name}{
            @extend %width-#{$i * 10}-#{$breakpoint-name};
          }
          .mw-#{10 * $i}-#{$breakpoint-name}{
            @extend %max-width-#{$i * 10}-#{$breakpoint-name};
          }
          .h-#{10 * $i}-#{$breakpoint-name}{
            @extend %height-#{$i * 10}-#{$breakpoint-name};
          }
          .mh-#{10 * $i}-#{$breakpoint-name}{
            @extend %max-height-#{$i * 10}-#{$breakpoint-name};
          }
        }
      }
    }
  }
}

$zindex_utilities: false !default;
@if $zindex_utilities{
  @each $zindex-name, $zindex-value in $zindex_values{
    .z-#{$zindex-name}{
      @extend %zindex-#{$zindex-name};
    }

    @each $breakpoint-name, $breakpoint-value in $breakpoints{
      @if ( $breakpoint-value != 0){
        @include media-breakpoint-up($breakpoint-name){
          .z-#{$breakpoint-name}-#{$zindex-name}{
            @extend %zindex-#{$zindex-name}-#{$breakpoint-name};
          }
        }
      }
    }
  }
}

$order_utilities: 0 !default;
@if (type-of($order_utilities) == number) and ($order_utilities > 0) {
  @for $i from 0 through $order_utilities {
    .order-#{$i}{
      @extend %order-#{$i};
    }
    @each $breakpoint-name, $breakpoint-value in $breakpoints{
      @if ( $breakpoint-value != 0){
        @include media-breakpoint-up($breakpoint-name){
          .order-#{$breakpoint-name}-#{$i}{
            @extend %order-#{$i}-#{$breakpoint-name}
          }
        }
      }
    }
  }
}
// margin utitlities
$margin-utilities: false !default;
$padding-utilities: false !default;
@if($margin-utilities){
  .mx-auto{@extend %mx-auto;}
  .my-auto{@extend %my-auto;}
  .mt-auto{@extend %mt-auto;}
  .mr-auto{@extend %mr-auto;}
  .mb-auto{@extend %mb-auto;}
  .ml-auto{@extend %ml-auto;}
  //
  .mx-0{@extend %mx-0;}
  .my-0{@extend %my-0;}
  .mt-0{@extend %mt-0;}
  .mr-0{@extend %mr-0;}
  .mb-0{@extend %mb-0;}
  .ml-0{@extend %ml-0;}
  @each $k in $margin-sizings{
    .mx-#{$k}{@extend %mx-#{$k};}
    .my-#{$k}{@extend %my-#{$k};}
    .mt-#{$k}{@extend %mt-#{$k};}
    .mr-#{$k}{@extend %mr-#{$k};}
    .mb-#{$k}{@extend %mb-#{$k};}
    .ml-#{$k}{@extend %ml-#{$k};}
    @each $breakpoint-name in $uytility-breakpoints{
      @if map-has-key($breakpoints, $breakpoint-name){
        .mt-#{$breakpoint-name}-#{$k}{@extend %mt-#{$k}-#{$breakpoint-name};}
        .mb-#{$breakpoint-name}-#{$k}{@extend %mb-#{$k}-#{$breakpoint-name};}
      }
    }
    @if($k >= 5){
      .mt-n#{$k}{@extend %mt-n#{$k};}
      .mb-n#{$k}{@extend %mb-n#{$k};}
      @each $breakpoint-name in $uytility-breakpoints{
        @if map-has-key($breakpoints, $breakpoint-name){
          .mt-#{$breakpoint-name}-n#{$k}{@extend %mt-n#{$k}-#{$breakpoint-name};}
          .mb-#{$breakpoint-name}-n#{$k}{@extend %mb-n#{$k}-#{$breakpoint-name};}
        }
      }
    }
  }
}
@if($padding-utilities){
  .px-0{@extend %px-0;}
  .py-0{@extend %py-0;}
  .pt-0{@extend %pt-0;}
  .pr-0{@extend %pr-0;}
  .pb-0{@extend %pb-0;}
  .pl-0{@extend %pl-0;}
  @each $k in $pading-sizings{
    .px-#{$k}{@extend %px-#{$k};}
    .py-#{$k}{@extend %py-#{$k};}
    .pt-#{$k}{@extend %pt-#{$k};}
    .pr-#{$k}{@extend %pr-#{$k};}
    .pb-#{$k}{@extend %pb-#{$k};}
    .pl-#{$k}{@extend %pl-#{$k};}
    @each $breakpoint-name in $uytility-breakpoints{
      @if map-has-key($breakpoints, $breakpoint-name){
        .pt-#{$breakpoint-name}-#{$k}{@extend %pt-#{$k}-#{$breakpoint-name};}
        .pb-#{$breakpoint-name}-#{$k}{@extend %pt-#{$k}-#{$breakpoint-name};}
      }
    }
  }
}
